In [87]:
import numpy as np
import pandas as pd

In [88]:
# Load red and white wine datasets.
red_wine_data = pd.read_csv("winequality-red.csv")
white_wine_data = pd.read_csv("winequality-white.csv", sep = ';')

# Preview both datasets.
print(red_wine_data.head(5))
print('*' * 120)
print(white_wine_data.head(5))

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]
************************************************************************************************************************
   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.0              0.27         0.36  ...       0.45      8.8        6
1            6.3              0.30         0.34  ...       0.49      9.5        6
2            8.1              0.28         0.40  ...       0.44     10.1        6
3            7.2              0.23         0.32  ...       0.40      9.9        6
4            7.2              0.23         0.32  ...       0.40      9.9        6

[5 rows x 12 columns]

In [89]:
# Checking for dtypes and missing values.
print(red_wine_data.info(), '\n')
print('Number of missing values in red wine dataset = ', red_wine_data.isnull().sum().sum())
print('*' * 120)
print(white_wine_data.info(), '\n')
print('Number of missing valeus in white wine dataset = ', white_wine_data.isnull().sum().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB
None

Number of missing values in red wine dataset =  0
************************************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB
None

Number of missing valeus in white wine dataset =  0

<p>
Since both datasets have no missing values whatsoever, the imputation process will not be required, given the case.
</p>

In [90]:
# Describe red wine dataset.
red_wine_data.describe(include = 'all')

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

In [91]:
# Describe white wine dataset.
white_wine_data.describe(include = 'all')

       fixed acidity  volatile acidity  ...      alcohol      quality
count    4898.000000       4898.000000  ...  4898.000000  4898.000000
mean        6.854788          0.278241  ...    10.514267     5.877909
std         0.843868          0.100795  ...     1.230621     0.885639
min         3.800000          0.080000  ...     8.000000     3.000000
25%         6.300000          0.210000  ...     9.500000     5.000000
50%         6.800000          0.260000  ...    10.400000     6.000000
75%         7.300000          0.320000  ...    11.400000     6.000000
max        14.200000          1.100000  ...    14.200000     9.000000

[8 rows x 12 columns]

In [92]:
# "Cardinality" means the number of unique values in a column.
# Select all categorical columns in both wine datasets for the encoding process if required, or not.
# Select numeric features as well.
red_wine_numeric_features = [cname for cname in red_wine_data.columns if red_wine_data[cname].dtype in ['int64', 'float64']]
red_wine_categorical_features = [cname for cname in red_wine_data.columns if red_wine_data[cname].dtype == "object"]

white_wine_numeric_features = [cname for cname in white_wine_data.columns if white_wine_data[cname].dtype in ['int64', 'float64']]
white_wine_categorical_features = [cname for cname in white_wine_data.columns if white_wine_data[cname].dtype == "object"]

In [93]:
# Inspect Categorical columns to be encoded.
# print(red_wine_categorical_features, white_wine_categorical_features)         # None within.
# print(white_wine_data[white_wine_categorical_features])                       # Empty DataFrame.
# print(red_wine_data[red_wine_categorical_features])                           # Empty Dataframe.

<p>
The lines above were to display categorical values in both datasets, and it seems that none of them contain columns having categorical data, this implies that feature encodings would not be necessary at all to be performed in this case.
</p>

In [94]:
'''
Preprocessing procedures(categorical feature encodings / imputation of missing values) would not be necessary here, 
but should they be needed in a different case, 
the author of this notebook is also able to perform them efficiently.
'''
# Since categorical features are not present at all, it is safe to keep only numeric features included in the final data.
final_red_wine_data = red_wine_data[red_wine_numeric_features]
final_white_wine_data = white_wine_data[white_wine_numeric_features]

In [95]:
# Preview final form of both datasets.
print(final_red_wine_data.head(10))
print('*' * 120)
print(final_white_wine_data.head(10))

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5
5            7.4              0.66         0.00  ...       0.56      9.4        5
6            7.9              0.60         0.06  ...       0.46      9.4        5
7            7.3              0.65         0.00  ...       0.47     10.0        7
8            7.8              0.58         0.02  ...       0.57      9.5        7
9            7.5              0.50         0.36  ...       0.80     10.5        5

[10 rows x 12 columns]
************************************************************************************************************************
   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.0              0.27         0.36  ...       0.45      8.8        6
1            6.3              0.30         0.34  ...       0.49      9.5        6
2            8.1              0.28         0.40  ...       0.44     10.1        6
3            7.2              0.23         0.32  ...       0.40      9.9        6
4            7.2              0.23         0.32  ...       0.40      9.9        6
5            8.1              0.28         0.40  ...       0.44     10.1        6
6            6.2              0.32         0.16  ...       0.47      9.6        6
7            7.0              0.27         0.36  ...       0.45      8.8        6
8            6.3              0.30         0.34  ...       0.49      9.5        6
9            8.1              0.22         0.43  ...       0.45     11.0        6

[10 rows x 12 columns]

In [96]:
# Merge both final datasets then display it.
combined_wine_dataset = final_red_wine_data.append([final_white_wine_data])
display(combined_wine_dataset)

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4              0.70         0.00  ...       0.56      9.4        5
1               7.8              0.88         0.00  ...       0.68      9.8        5
2               7.8              0.76         0.04  ...       0.65      9.8        5
3              11.2              0.28         0.56  ...       0.58      9.8        6
4               7.4              0.70         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
4893            6.2              0.21         0.29  ...       0.50     11.2        6
4894            6.6              0.32         0.36  ...       0.46      9.6        5
4895            6.5              0.24         0.19  ...       0.46      9.4        6
4896            5.5              0.29         0.30  ...       0.38     12.8        7
4897            6.0              0.21         0.38  ...       0.32     11.8        6

[6497 rows x 12 columns]

In [97]:
# Export this merged dataset to be used for data visualization in the next notebook.
combined_wine_dataset.to_csv('merged.csv', index = False)